/* body{
   
     
    font-family: 'Ubuntu', sans-serif;
    background: url("https://image.freepik.com/free-photo/modern-workplace-wooden-table-with-lot-things-it_80510-182.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-color: transparent;
    position: absolute;
    width: 350px;
    height: 400px;
    border-radius: 2.5em;
    margin-left: 500px; 
    margin-top: 25%;
}

.sign {
    padding-top: 30px;
     color: #8C55AA;
    color: rgb(36, 34, 33); 
    font-family: 'Ubuntu', sans-serif;
    text-shadow:1px 1px 2px rgb(146, 123, 127);
    font-weight: bold;
    font-size: 23px;
}

.form-control{
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.274);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 40px;
margin-left: 44px;
margin-top: 20px;
text-align: center;
font-family: 'Ubuntu', sans-serif;
}

.form1{
    padding-top: 10px;
    margin-top: -27%;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.37);
    border-radius: 5%;
    width: 400px;
    height: 400px;

}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.274);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 40px;
margin-left: 44px;
text-align: center;
margin-bottom: 37px;
margin-top: 10px;
font-family: 'Ubuntu', sans-serif;
}

.form-control:focus, .pass:focus {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.18) !important; 

}
.submit:focus{
    border: 2px solid rgba(6, 140, 173, 0.767) !important;
}

.submit {

    cursor: pointer;
    border-radius: 5em;
    color: rgb(219, 222, 223);
    background: linear-gradient(to right, rgb(81, 83, 83), rgb(167, 178, 180));
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 34%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(1, 60, 255, 0.04);
    
}

.forgot {
    color: rgb(92, 89, 83);
    padding-top: 30px;
}
span{
    padding-top: 20%;
    cursor: pointer;
    border-radius: 5em;
    box-shadow: 0 0 20px 1px rgba(1, 60, 255, 0.04);
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: rgb(65, 65, 65);
    text-decoration: none;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}  */

a{
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: rgb(65, 65, 65);
    text-decoration: none;
}
@media (max-width: 600px) {
    .main1 {
        border-radius: 0px;
    }
    
}
.forgot1 {
    color: rgb(92, 89, 83);
    padding-top: 30px;
}
span{
    padding-top: 20%;
    cursor: pointer;
    border-radius: 5em;
    box-shadow: 0 0 20px 1px rgba(1, 60, 255, 0.04);
}
.submit {
    cursor: pointer;
    position: absolute;
    border-radius: 2em;
    color: rgb(13, 13, 14);
    background: linear-gradient(to right,  rgb(128, 127, 127), rgb(238, 240, 240));
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 14%;
    margin-top:13%;
    font-size: 13px;
    -webkit-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    
}
#backbutton {

    cursor: pointer;
    border-radius: 2em;
    color: rgb(7, 7, 7);
    background: linear-gradient(to right,  rgb(128, 127, 127), rgb(238, 240, 240));
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 55%;
    margin-top:13%;
    font-size: 13px;
    -webkit-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    
}
input.ng-touched.ng-invalid{
    border-color:#dc3545
}
input.ng-dirty.ng-invalid{
    border-color:#dc3545;
}
.email:focus {
    cursor: pointer;
    border: 2px solid rgba(92, 86, 86, 0.274) !important; 
}
.email{
    width: 76%;
    color: rgb(54, 51, 51);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(155, 154, 154, 0.192);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(226, 226, 226, 0.192);
    margin-bottom: 0px;
    margin-left: 44px;
    margin-top: 90px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    }
body{
/* // width:100%; */
/* // height: 100%; */
font-family: 'Ubuntu', sans-serif;
background: url("https://img.freepik.com/free-photo/cement-wall-floor-copy-space_53876-30237.jpg?size=626&ext=jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.main1 {
background-color: transparent;
position: absolute;
width: 350px;
height: 370px;
border-radius: 2.5em;
margin-left: 500px; 
margin-top: 20%;
}
.form2{
    padding-top: 10px;
    margin-top: -27%;
    background-color: rgba(250, 249, 249, 0.171);
    box-shadow: 0px 11px 35px 2px rgba(124, 120, 120, 0.37);
    border-radius: 5%;
    width: 360px;
    height: 350px;

}
.errormsg{
    margin-left:26%;
}
img{
position:absolute;
margin-top:2%;
margin-left:44%;
}

.forgotpass {
padding-top: 30px;
/* // color: #8C55AA; */
color: rgb(19, 18, 18); 
font-family: 'Ubuntu', sans-serif;
text-shadow:rgb(105, 105, 102) 1px 0 10px;
font-weight: bold;
font-size: 23px;
}
.submit:hover,#backbutton:hover{
        color: rgb(12, 12, 12) !important;
        background: linear-gradient(to left,  rgb(113, 114, 114), rgb(214, 217, 218));
        border-color: darkgray !important;
        transition: all 0.4s ease 0s;
        }