<!-- <div class="container">
    <div class="row">
        <div class="col s10 offset-s12">
            <div class="card">
                <div *ngIf="isLogInError" class="red-text center error-message" style="color: red;">
                    <i class="material-icons">
                        error
                    </i>
                    Incorrect username or password
                </div>
                <form [formGroup]="angForm" (ngSubmit)="login()">
                    
                    <div>
                        <label class="form-control">Username</label>
                        <input class="form-control" 
                        type="text"
                        placeholder="Enter the Username" 
                 
                        formControlName="username" required />
                         <span *ngIf="username.errors && username.touched" class="alert alert-danger">
                                <span *ngIf="username.errors.required">*</span>
                                
                               </span> 
                           </div>

             <div>
                <label class="form-control">Password</label>
                <input class="form-control" 
                type="password"
                placeholder="Enter the Password" 
                
    
                formControlName="password"  required/>
                 <span *ngIf="password.errors && password.touched" class="alert alert-danger">
                        <span *ngIf="password.errors.required">Password cannot be empty</span>
                    
                       </span> 
                   </div>
                   <div style="color: red;">
                    {{errormessage}}
                   </div>
                   <button class="btn btn-primary">
                       Submit
                   </button>
</form>

            </div>
            </div>
    </div>
</div> -->


<!-- <head>
    <title>Please Enter your Mail-Id</title>
  </head>
  <body>
    <div class="main">
        <form class="form1">
        <form [formGroup]="angForm" (ngSubmit)="forgotpassword()"> -->
        <!-- <div *ngIf="isLogInError" class="red-text center error-message" style="color: red;">
            <i class="material-icons">
                error
            </i>
            Incorrect username or password
        </div> -->
        <!-- <p class="sign" align="center">Forgot Password</p>
        <input class="form-control" type="text" align="center"  placeholder="Mail-Id" formControlName="email" required />
        <span *ngIf="email.errors && email.touched" >
            <span *ngIf="email.errors.required">*</span>            
           </span>  -->
           <!-- <input class="form-control" 
                type="password"
                placeholder="Enter the Password" 
                
    
                formControlName="password" align="center"  required/>
                 <span *ngIf="password.errors && password.touched">
                        <span *ngIf="password.errors.required">*</span>
                    
                       </span>  -->
                       <!-- <div  align="center">
                        {{errormessage}}
                       </div>
                      
                        <button class="submit" align="center">
                            Submit
                        </button>
                       
                        <hr>
                           <button class="submit"  (click)="Back()" style="position: relative;" >
                           Back
                        </button>
                     
                       
      
      </form>  
        </form>  
    </div>
  </body> -->

  <head>
    <title></title>
  </head>
  <body>
    
    <div class="main1">   
      <form class="form2" [formGroup]="myForm" (ngSubmit)="forgotpassword()">
        <p class="forgotpass" align="center">Forgot Password</p>
        <!-- <div class="form-group"> -->
            <a>
                <img src="http://cdn.onlinewebfonts.com/svg/img_398183.png" alt="Examen"  width="52" height="51">
              </a>
            <div>
            <input name="email" class="email" type="text" align="center"                          
               pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            formControlName="email" placeholder="Mail-Id" required>
            <!-- <div  align="center" style="color: red;"> -->
               <!-- <span class="errormsg" style="color: red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{errormessage}} </span>  -->
                <span class="errormsg" style="color: red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{errormessage}} </span>   
                <span *ngIf="email.errors.pattern"></span> 
                <span style="color: red;" *ngIf="email.errors.required && email.touched"></span>   
            </div>
        <!-- </div> -->
        <button class="submit" id="submitbutton" align="center">Submit</button>
        <button class="back" id="backbutton" align="center" (click)="Back()">Back</button>     
      </form>  
    </div>
</body>
    <div>
      <router-outlet></router-outlet>
    </div>

