<section id="principal-content">
    <h4>ADMINS</h4>
        <div class="container bootstrap snippet" *ngFor="let admins of admin">
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <div class="row" id="design">
                            <div class="col-md-4 col-md-offset-1">
                                    <div class="home-design-info" >
                                        <figure>
                                            <img class="img-circle" src="{{admins.Admin_Image}}">
                                        </figure>
                                    </div>  
                            </div> <!-- 4 -->   
                            <div class="col-md-6" id="details">
                                <div class="deets">
                                    <p> <strong>{{admins.Admin_username}}</strong><br/>
                                        Name : {{admins.Admin_name}} <br/>
                                        Phone : {{admins.Admin_phone}}<br/>
                                        Mail ID : {{admins.Admin_email}}
                                    </p>
                                </div>
                            </div>
                        </div> 
                    </article>
                </div>  
            </div>  
        </div>
    </section>