

<div class="container">
    
  <div *ngFor="let user of userdata">
      
          <div class="container">                 
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Username</th>
                          <th>TestModel</th>
                          <th>TestDate</th>
                          <th>TestStatus</th>
                          <th>Result</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td> {{user.Username}}</td>
                          <td> {{user.Testmodel}}</td>
                          <td> {{user.Testdate}}</td>
                          <td><label class="text-danger">{{user.Teststatus}}</label> </td>
                          <td><label class="text-danger">{{user.Result}}</label> </td>
                      </tr>
                  </tbody>
              </table>
          </div>
    
      <!-- <div *ngIf="user.Teststatus === 'Completed'">
      <div class="container">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Username</th>
                          <th>TestModel</th>
                          <th>TestDate</th>
                          <th>TestStatus</th>
                          <th>Result</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td> {{user.Username}}</td>
                          <td> {{user.Testmodel}}</td>
                          <td> {{user.Testdate}}</td>
                          <td><label class="text-success">{{user.Teststatus}}</label> </td>
                          <td> {{user.Result}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div> -->
        
</div>


</div>

<div *ngIf ="teststatus==='empty'">
    <div class="text-center">    
        <img src="/assets/images/noresultsfound1.png">                              
        </div> 
</div>

