<div style="padding: 20px;">
  <div style="text-align: center;">
          <div class="card card-3">
            <img src="/assets/images/profile2.png" style="width: 300px;">
            <br/>
            <label>Welcome {{profile}}</label>
            <br>
            <label>Phone : {{Phone}} </label>
            <br>
            <label>Email : {{Email}}</label>
          </div>
  </div>
</div>


<div id="countdowntimer"><span id="hms_timer"></span></div>
<button id="pauseBtnhms"></button>
<button id="stopBtnhms"></button>


	