select{
    position: relative;
    margin-left: 30%;
    width:40%
}
h3{
    padding-top:15px;
    position: relative;
    text-align: center;
}
ul,li{
    position: relative;
    margin-left: 14%;
    width:100%
}

